<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
    <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>

    <title>Fixed Top Navbar Example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/navbar-fixed-top.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="//www.parsecdn.com/js/parse-1.1.15.min.js"></script>
    <script src="static/js/app.js"></script>
</head>




<body>

  <body>

  
      <div class="navbar navbar-fixed-top center">
              <div class="navbar-inner" style="background-color:#00aedc" >
                      <ul class="nav">
                              <li><img src="img/rubber_duck.png" style="margin: 10px 0px"></li>
                      </ul>
              </div>
</div>
<div style="background-color: #E8E8E8; margin-top: 70px">  
  <div class="container">
    
    <div class="row">
      <div class="col-lg-6 pad" >
                          <div class="box pad">
                                  <h1>You are checked in at ______</h1><!--Kat>"VENDOR_NAME"</Kat-->
          <div class="img-responsive"id="map-canvas" style="margin-right: auto; margin-left: auto"></div>
                                  <img class="img-responsive" src="img/map.png">
                          </div>
                  </div><!-- /.col-lg-4 -->
    
      <div class="col-lg-6 pad">
        <div class="box pad ">
          
          <div class="middle">
            <h2 class="ta">Helpers on Location</h2>
            <div class="numberCircle" style= "align:center">5</div><!--Kat>"ENTER # OF HELPERS"</Kat-->

            <h2 class="ta">Your Karma Points</h2>
            <div class="numberCircle">3</div><!--Kat>"ENTER # OF KARMA POINTS"</Kat-->

            <h2 class="ta">Request Help</h2>
            <button type="button" style="width: 80%"class="btn btn-lg btn-primary">Click Here</button>
          </div>
        </div>
      <!-- <div class="box pad">
        <div class="pad">
                                      <img class="fl" src="img/pin.png">
                              </div>
        <div>
                                      <h2>This is some test text that explains how you get help</h2>
                              </div>
        <div class="pad">
                                      <img class="fl" src="img/award.png">
                              </div>
        <div>
                                      <h2>This is a test that explains why someone would help</h2>
                              </div> -->
                      </div>
                </div><!-- /.col-lg-4 -->

  </div><!-- /.row -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>

<!-- 

{{ user['phone'] }}
{{ helper_phones }}

This is where we'll put how many users are in your venue, {{ user['name'] }}! <br />

<div id='venue'>
Looks like you're at 
  <div id='venue_details'><br /></di>

{% if check_checkin %}
{{ check_checkin }}
It's been longer than 3 hours since you checked in. Check in again to update your location, and
{% endif %}
if your location has changed, please check in with Foursquare!<br />

</div>


{% if users_count > 1 %}
There are {{ users_count }} people here to help you!!!<br />
 {% elif users_count == 1%}
There is {{ users_count }} person here to help you!!!<br />
 {% else %}
Bummer! No one else is here right now. Try checking in later.<br />
{% endif %}


<br />
other user id/checkin_times for our later user (?):
{{ other_users }} <br />

 -->
  <form>
    <input id="submit" type="submit" value="Get Help" onClick="sendSMSForHelp({{ helper_phones }});return false;"/>
  </form>

</html>

<script>
var clientId = '{{ client_id }}',
    clientSecret = '{{ client_secret }}',
    access_token = '{{ access_token }}',
    base_url = 'https://api.foursquare.com/v2/venues/',
    venue = '{{ venue }}',
    url = base_url.concat(venue);
if(venue){
    $.ajax({
        url:url,
        data: {oauth_token:access_token},
        success:function(user_data) {
            var venue = user_data.response.venue['name'],
                toAppend = document.getElementById('venue_details');

            toAppend.innerHTML = venue;
            // var location_name = user_data.response.venue.name
        },
        error: function(jqXHR, textStatus, errorThrown){
            console.error(errorThrown);
        }
    });
}


</script>