<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
    <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>

    <title>Fixed Top Navbar Example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/navbar-fixed-top.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="//www.parsecdn.com/js/parse-1.1.15.min.js"></script>
    <script src="../static/js/app.js"></script>
</head>


<body>
    <div class="navbar navbar-fixed-top center">
        <div class="navbar-inner" style="background-color:#00aedc" >
            <ul class="nav">
              <li><img src="../static/img/Rubber_Duck.png" style="margin: 10px 0px"></li>
            </ul>
        </div>
    </div>
<div style="background-color: #E8E8E8; margin-top: 70px">  
  <div class="container">

    <div class="row">
      <div class="col-lg-6 pad" >
          <div class="box pad">
            <div class="middle">
              <h1>You are checked in at<br />
                <div id='venue_details'></di>
              </h1>
          <div class="img-responsive"id="map-canvas" style="margin-right: auto; margin-left: auto"></div>
                <img class="img-responsive" src="../static/img/map.png">
          </div>
      </div>
      </div>

      <div class="col-lg-6 pad">
        <div class="box pad ">

          <div class="middle">
            <h2 class="ta">Helpers on Location</h2>
                <div class="numberCircle" style= "align:center">
                {% if users_count == 0 %}
                Bummer! No one is currently at your location. <br />
                Keep working: we believe in you!
                {% else %}
                {{ users_count }}
                {% endif %}
                </div>

            <h2 class="ta">Your Karma Points</h2>
            <div class="numberCircle">3</div><!--Kat>"ENTER # OF KARMA POINTS"</Kat-->

            <h2 class="ta">Request Help</h2>
                <button type="button" style="width: 80%"class="btn btn-lg btn-primary" input id="submit" type="submit" value="Click Here" onClick="sendSMSForHelp({{ helper_phones }});return false;">Click Here</button>
          </div>
        </div>
      </div>
    </div>

  </div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>


<script>
var clientId = '{{ client_id }}',
    clientSecret = '{{ client_secret }}',
    access_token = '{{ access_token }}',
    base_url = 'https://api.foursquare.com/v2/venues/',
    venue = '{{ venue }}',
    url = base_url.concat(venue);
if(venue){
    $.ajax({
        url:url,
        data: {oauth_token:access_token},
        success:function(user_data) {
            var venue = user_data.response.venue['name'],
                toAppend = document.getElementById('venue_details');

            toAppend.innerHTML = venue;
            // var location_name = user_data.response.venue.name
        },
        error: function(jqXHR, textStatus, errorThrown){
            console.error(errorThrown);
        }
    });
}
</script>

</body>
</html>