<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
        <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>

    <title>RubberDuck - Find Technical Help</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/navbar-fixed-top.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

<body>
    <div class="navbar navbar-fixed-top center">
            <div class="navbar-inner" style="background-color:#00aedc" >
                    <ul class="nav" >
                            <li><img src="../static/img/rubber_duck.png" style="margin: 10px 0px";></li>
                            <li><a href="#" class="brand" >RubberDuck</a></li>
                    </ul>
            </div>
    </div>
<div style="background-color: #E8E8E8; margin-top:70px">
    <div class="container">

  <div class="row" >
    <div class="col-md-6 pad">
                    <div class="box">
                            <div class="tbpad20 lrpad40 ta">
                                    <h1>'GET' 10 min of help when you need it</h1>
                            </div>
                            <div>
                                    <img class="img-responsive middle" src="../static/img/map.png">
                            </div>
                          <article>
                            <div id="helpbutton" class="tbpad20" style="text-align: center">
                            </div>
                        </article>
                    </div>
            </div><!-- /.col-lg-4 -->
    <div class="col-md-6 pad">
                    <div class="box pad">
                            <div class="row middle">
                                                    <img class="middle" style="padding: 20px 20px 0 20px " src="../static/img/pin.png">
                                            <h2 class="ta">Find Help for Your Technical Projects at Your Location</h2>
                            </div>
                            <div class="row middle">        
                                            <img class=" middle" style=" padding: 30px 20px 0 20px" src="../static/img/award.png">
                                            <h2 class="ta">Earn Karma for Helping Others</h2>
                                            <h2 clss="ta">Spend It to Get Help</h2>
                            </div>  
                    </div>
            </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>


<script>
var clientId = '{{ client_id }}',
    clientSecret = '{{ client_secret }}';
// look for an access token in the query string
uri = window.location.href;
search = '#access_token=';
start = uri.indexOf(search);
access_token = false;

if (start > 0) {
    start = start + search.length
    access_token = uri.slice(start);
}
//  OR: try this as a flask form submission?
//  OR: can I put this data into Firebase form the ajax?

if(access_token){
    $.ajax({
        url:'https://api.foursquare.com/v2/users/self',
        data: {oauth_token:access_token},
        //  can I make this callback add hidden form field to the page
        success:function(user_data) {
            user_data = user_data.response.user
            // Add hidden form field to the page
            $.ajax({
                type: 'POST',
                url: 'http://localhost:5000/index',
                data: JSON.stringify({'user_data':user_data, 'access_token':access_token}),
                dataType: JSON,
                contentType: 'application/json;charset=UTF-8',
                success: function() {
                    console.log('got it');
                    window.location = 'http://localhost:5000/codesocial';
                },
                error: function() {
                    console.log('failed');
                    window.location = 'http://localhost:5000/codesocial';
                }
            })
            // .delay(800).done(window.location = 'http://localhost:5000/codesocial');
        },
        error: function(jqXHR, textStatus, errorThrown){
            console.error(errorThrown);
        }
    });
} else {
    // print a login button
    client_id = clientId
    redirect_uri = 'http://localhost:5000/index';
    auth_url = 'https://foursquare.com/oauth2/authenticate?client_id=' + client_id + '&response_type=token&redirect_uri=' + redirect_uri;

    $('article').html('<div class="tbpad20" style="text-align: center"><button onclick="window.location=\'' + auth_url + '\'" type="button" class="btn btn-primary btn-lg mg" >Find Helpers Nearby</button></div>');

}
</script>

</body>
</html>