<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    
    <title>RubberDuck - Find Technical Help</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/navbar-fixed-top.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

<script>
function greeting()
{
alert("Thanks! Don't forget to check in to your location on Foursquare!")
}
</script>

  </head>
  <body>
    <div class="navbar navbar-fixed-top center">
        <div class="navbar-inner" style="background-color:#00aedc" >
            <ul class="nav" >
                <li><img src="static/img/Rubber_Duck.png" style="margin: 10px 0px";></li>
            </ul>
        </div>
    </div>

<div style="background-color: #E8E8E8; margin-top:70px">
    <div class="container">

      <div class="row" >
        <div class="col-md-offset-3 col-md-6 pad">
            <div class="box">
                <div class="tbpad20 lrpad40 ta">
                    <h3>In order to contact you when people need help. We need your <b>phone number</b>. We promise not to spam you :) </h3>
                </div>
                <div>
                    <form id='form' class="ta" name="phone" action="{{ url_for('save_phone') }}" method="post" onSubmit="greeting()">
                        <p>
                            <input type="text" name="phone_number"><br />
                            <input type="hidden" name="user" value="{{ user }}">

                        </p>
                        <input type="submit" value="Submit" class="btn btn-primary btn-lg mg">
                    </form>
                </div>
            </div>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>
</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/jquery-1.10.2.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>
